<div class="evolt-banner">
<%= render 'shared/navbar' %>
  <div class="evolt-banner-container">
    <!-- 6.0 wrapper -->
    <div class="spirit-bubbles" id="canvas"></div>
    <div class="wrapper" id="wrapper-large">
      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-12 text-center">
            <!-- 6.1 SPIRIT BUBBLES CANVAS -->
            <!-- end SPIRIT BUBBLES CANVAS -->

            <div class="evolt-logo-container">
              <div class="evolt-log"></div>
            </div>
            <!-- end HOME & RETURN BUTTONS -->

            <!-- 6.3 ERROR CODE -->
            <div class="welcome-logo-container">
              <%= image_tag("logo_transparent_background_cropped.png", :alt => "logo", :class => "welcome-logo-image") %>
              <%= image_tag("white_text_transparent.png", :alt => "logo", :class => "welcome-logo-text") %>
            </div>
            <!-- ERROR TEXT, Change error text according to your requirement -->
            <h2 id="sub-title">Tailored strategy consulting for <span class=green>SME</span>s!</h2>
            <!-- ROTATING TEXT -->
            <!-- END ERROR CODE -->

            <!-- 6.4 search-form -->
<!--             <form class="form-inline search-form">
              <div class="input-group">
                <input type="type" class="form-control" placeholder="search the web">
                <span class="input-group-btn">
                  <button type="submit" class="btn"><span class="search-icon"></span></button>
                </span>
              </div>
            </form> -->
            <!-- end search-form -->
            <!-- 6.2 HOME & RETURN BUTTONS -->
            <ul class="return-btn center-block">
              <li>
                <a href="#" class="wow slideInLeft">Learn more<span class="icons-container"><span class="home-icon"></span></span></a>
              </li>
              <li>
                <a href="#" class="wow slideInRight">Home<span class="icons-container"><span class="return-icon"></span></span></a>
              </li>
            </ul>

            <!-- 6.5 social-icons -->
<!--             <ul class="social-icons center-block">
              <li>
                <a class="hvr-icon-wobble-vertical wow slideInLeft" data-wow-delay="3.5s" href="#">E</a>
              </li>
              <li>
                <a class="hvr-icon-wobble-vertical wow slideInLeft" data-wow-delay="2.5s" href="#">V</a>
              </li>
              <li>
                <a class="hvr-icon-wobble-vertical wow fadeIn" data-wow-delay="2s" href="#">O</a>
              </li>
              <li>
                <a class="hvr-icon-wobble-vertical wow slideInRight" data-wow-delay="2.5s" href="#">L</a>
              </li>
              <li>
                <a class="hvr-icon-wobble-vertical wow slideInRight" data-wow-delay="3.5s" href="#">T</a>
              </li>
            </ul> -->
            <!-- end social-icons -->
          </div>
        </div>
      </div>
    </div>
    <!-- end wrapper -->
  </div>
</div>

<div class="welcome-section">
This is some random text
</div>
